<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title popup-title">Application Already Submitted</h4>
      </div>
      <div class="modal-body">
        <p>An application using this email address has already been submitted, and is currently under review. Check the status of the application process and find more ways to get involved <a href="http://www.opencon2017.org/thank_you">here</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-popup" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
